*{
    font-family: 'Inter', sans-serif !important;
}

.navbar{
    padding: 0 !important;
}

.logo{
    height: 80px;
    width: auto;
}

.custom-btn {
    background-color: #27374D;
    color: white;
    border: none;
}

.navbar-brand, nav-link{
    color: #27374D !important;
}

.container-fluid{
    background-color: #9DB2BF !important;
}

main {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    width: 100%;
}

tbody {
    display: block;
    max-height: 60vh;
    overflow-y: auto;
    width: 100%;
}

thead, tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
