<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSSI Education</title>
    <link rel="stylesheet" href="../static/css/updateForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="indexUser.html"><img src="../static/img/logo.png" alt="logo"></a>
            <h1>JSSI Education</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Schedules</a></li>
                <li><a href="#">See grades</a></li>
                <li><a href="#">Teacher evaluation</a></li>
                <li><a href="#">Enrollments</a></li>
                <li><a href="#">See attendance</a></li>
            </ul>
        </nav>
        <button class="logout">Log out</button>
    </header>

    <main>
        <section class="user-info">
            <div class="profile-picture">
                <img src="" alt="User Profile">
            </div>
            <p class="user-details">
                <strong>User Name</strong><br>
                Career<br>
                Semester
            </p>
        </section>

        <section class="form-section">
            <h2>Information</h2>
            <form id="user-form">
                <div class="form-group">
                    <label for="first-name">Name</label>
                    <input type="text" id="first-name" placeholder="Name">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="id">ID type</label>
                    <input type="text" id="id" placeholder="Id">
                    <label for="birthday">Birthday</label>
                    <input type="date" id="birthday" placeholder="Birthday">
                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" placeholder="Phone">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password">
                </div>

                <button type="submit" class="update-btn">Update</button>
            </form>
        </section>
    </main>

    <script src="../static/js/updateForm.js"></script>
</body>
</html>
